<%- include("../partials/head.ejs" ,{title: 'Todos los productos' })%>
 

<body class="body_general_login">
  
  <div class="body__login">
    <div class="logo-login">
      <img src= "/img/electroGroupstexto.png" alt="logo de login">
      <h1>ElectroGroup</h1>
          </div>
      
      <main class="registro__main">
        <title>Electrogroup</title>
         
          <fieldset class="registro__main2">
              <h1>login</h1>
              
                <form action="/users/login" method="post">
                  <div >
                    <label for="email"></label>
                            <input class="imput_register" type="text" name="email" id="email" placeholder="Ingresa tu email"  value="<%= locals.old && old.email %>" >
                            <% if (locals.errors && errors.email) { %>
                              <p class="feedback"><%= errors.email.msg %></p>
                              <% } %>
                          </div>
                  <div >
                    <label for="contraseña"></label>
                            <input class="imput_register" type="password" name="contraseña" id="contraseña"
                                placeholder="Ingresa contraseña" value="<%= locals.old && old.contraseña %>" />
                            <% if (locals.errors && errors.contraseña) { %>
                                <p class="feedback">
                                    <%= errors.contraseña.msg %>
                                </p>
                                <% } %>
                    <div class="contraseña">
                      <a href="/">Forgot password?</a>
                  </div>
                  </div>
                 
              
                  
                  <div class="contenor_botones">
                      <button type="submit" title="Ingresar" name="Ingresar">Login</button>
                      
                  </div>

                </form>
                <div class="contenor_botones">
                    
                  
                  
                  <button id="botonrojo"  onclick="location.href='/users/register'">signup</button>
              </div>
            </fieldset>  
      </main>
  </div>
  
    
</body>
</html>













