<%- include("../partials/head.ejs",{title: 'Todos los productos' })%>

    <body class="body_general_registro">
        <%- include("../partials/header.ejs")%>


            <div class="copy_header_register">
                <h3>Crear tu cuenta ElectroGroup</h3>
            </div>


            <div class="cajagranderegiste">
                <section class="main__register__form">


                    <form action="/users/register" method="post" class="register__form_general" enctype="multipart/form-data">

                        <div class="register ">
                            <label for="nombre">Ingrese Nombre</label>
                            <input type="text" name="nombre" id="placeholder"  value="<%= locals.old && old.nombre ? old.nombre : null %>" >
                            <p class="mensaje_errors"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %> </p>
                            <div class="iconousuario">
                                <i class="fa-regular fa-circle-user" id="userIcon"></i>
                            </div>
                        </div>
                        <div class="register ">
                            <label for="">Ingrese un correo</label>
                            <input type="email" name="email" id="placeholder"  value="<%= locals.old && old.email ? old.email : null %>" >
                            <p class="mensaje_errors"><%= locals.errors && errors.email ? errors.email.msg : null %> </p>
                            <div class="iconousuario">
                                <i class="fa-regular fa-envelope" id=""></i>
                            </div>
                        </div>
                        <div class="register ">
                            <label for="">Ingrese una contraseña</label>
                            <input type="password" name="password" id="placeholder">
                            <p class="mensaje_errors"><%= locals.errors && errors.password? errors.password.msg : null %> </p>
                            <div class="iconousuario">
                                <i class="fa-solid fa-eye-slash" id=""></i>
                            </div>
                        </div>
                        <div class="register ">
                            <label for="password2">Confirme su contraseña</label>
                            <input type="password" name="password2" id="placeholder">
                            <p class="mensaje_errors"><%= locals.errors && errors.password ? errors.password.msg : null %> </p>
                            <div class="iconousuario">
                                <i class="fa-solid fa-eye-slash" id="look"></i>
                            </div>
                        </div>
                        <br>
                        <div class="register ">
                            <label for="image" class="avatar">Foto de perfil</label>
                            <input type="file" class="form-avatar"  name="image">
                            <p class="mensaje_errors"><%= locals.errors && errors.image ? errors.image.msg : null %> </p>
                        </div>
                        <div class="register__buttom">

                            <button type="submit">Registrarme</button>


                            <h6>Registrarme con</h6>
                            <nav>
                                <ul class="redessocialesregsiter">
                                    <a href="https://google.com"><i class="fa-brands fa-google"></i></i></a>
                                    <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></i></a>
                                    <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></i></a>
                                </ul>
                            </nav>
                            <h5>¿ya tiene una cuenta? <a href="/users/login"> inicie sesión</a></h5>


                        </div>
                        <% if (locals.nombre && nombre.rol == 'admin') {%>
                        <div class="register">
                            <label for="rol">Rol</label>
            <input type="text" id="rol" name="rol" value="<%= locals.old && old.rol ? old.rol : null %>">
            <p class="mensaje_errors"> <%= locals.errors && errors.rol ? errors.rol.msg : null %> </p>
            <% } %>
                        </div>
                        

                            

                    


                        

                    </form>

                </section>
            </div>


            











            <div class="footer__productcart">

            </div>
            <%- include("../partials/footer.ejs")%>
    </body>

    </html>