<%- include("../partials/head.ejs")%>

    <body class="home__body">

        <%- include("../partials/header.ejs")%>

            <main class="Editar_producto" style="background: linear-gradient(to left, blue,rgb(58, 125, 224));">

                <h1 class="titulo_actualizacion">Actualiza tu informacion</h1>
                <form action="/users/profileEdit/<%=user.id%>?_method=PUT" method="post" enctype="multipart/form-data">
                    
                    <div class="contenedor_usuario">
                        <section class="main__register__form">
                            <div class="register ">
                                    <label for="nombre">Nombre de usuario</label>
                                    <input type="text" name="nombre" id="placeholder" value="<%= locals.user ? user.nombre : locals.old && old.nombre ? old.nombre : null %>">
                                    <p><%= locals.errores && errores.nombre ? errores.nombre.msg : null %> </p>
                                    
                                </div>
                                <div class="register ">
                                    <label for="email">Correo Electrónico</label>
                                    <input type="email" name="email" id="placeholder" value="<%= locals.user ? user.email : locals.old && old.email ? old.email : null %>">
                                    <p><%= locals.errores && errores.email ? errores.email.msg : null %> </p>
                                    
                                </div>
                            
                                <div class="register ">
                                    <label for="age">Edad:</label>
                                    <input class="campos" type="number" id="placeholder" name="age" value="<%= locals.user ? user.age : locals.old && old.age ? old.age : null %>">
                                    <p><%= locals.errores && errores.age ? errores.age.msg : null %> </p>
                                    
                                </div>

                                <div class="register ">
                                <label for="direction">Dirección:</label>
                                <input class="campos" type="text" id="placeholder" name="direction"  value="<%= locals.user ? user.direction : locals.old && old.direction ? old.direction : null %>">
                                <p><%= locals.errores && errores.direction ? errores.direction.msg : null %> </p>
                                </div>

                                <div class="register ">
                                    <label for="phone">Teléfono:</label>
                                    <input class="campos" type="text" id="placeholder" name="phone" value="<%= locals.user ? user.phone : locals.old && old.phone ? old.phone : null %>">
                                    <p><%= locals.errores && errores.phone ? errores.phone.msg : null %> </p>
                                
                                </div>

                                <div class="register ">
                                    <label for="genre">Defina su género:</label>
                                    <input class="campos" type="text"id="placeholder" name="genre" value="<%= locals.user ? user.genre : locals.old && old.genre ? old.genre : null %>">
                                    <p><%= locals.errores && errores.genre ? errores.genre.msg : null %> </p>
                                    
                            </div>
                                    
                            <% if (locals.usuario && usuario.rol == 'admin') {%>
<<<<<<< HEAD
                                 <div class="register">
                                     <label for="rol">Rol</label>
                                     <input class="campos" type="text" id="placeholder" name="rol" value="<%= locals.user ? user.rol : locals.old && old.rol ? old.rol : null %>">
                                     <p> <%= locals.errores && errores.rol ? errores.rol.msg : null %> </p>
                                 </div>    
                             <% } %>
=======
                                <div class="register">
                                    <label for="rol">Rol</label>
                                    <input class="campos" type="text" id="rol" name="rol" value="<%= locals.user ? user.rol : locals.old && old.rol ? old.rol : null %>">
                                    <p> <%= locals.errores && errores.rol ? errores.rol.msg : null %> </p>
                                </div>    
                            <% } %>
>>>>>>> refactorizacionViews

                             <div class="register ">
                                
                                 <label for="image" class="col-12 mt-3">Foto de perfil</label><br>
                                 <img style="width:20%;margin-bottom: 10px;" src="/img/users/<%= user.image %>" alt="profile image">
                                  <input type="file" class="form-control"  name="image">
                                  <p><%= locals.errores && errores.image ? errores.image.msg : null %> </p>
                             </div>
                            
                                <div class="register__buttom" style="width: 100%;margin-top: 150px;">
     
                                 <button style="font-size: 22px;background-color: rgb(25, 124, 206);"  type="submit">Actualizar</button>
                             </div>
                         </section>
                         </div>
     
                         </form>
     
                   
     </main>
 </body>

 </html>
                                
