<%- include("../partials/head.ejs")%>
  <body class="home__body">

    <%- include("../partials/header.ejs")%>
 
    <main class="createpro">
        <form action="/products/createProduct" method="post" enctype="multipart/form-data">
            <div class="PRECIOCREATE">
                <label for="nombre" id="nombre"> Ingrese el nombre del producto</label>
                <input type="text" name="titulo">
                <p><%= locals.errores && errores.titulo ? errores.titulo.msg : null %> </p>
                
            </div>
            <div class="PRECIOCREATE">
                <label for="nombre" id="nombre"> Ingrese la marca del producto</label>
                <input type="text" name="brand"><p><%= locals.errores && errores.price? errores.brand.msg : null %> </p>
            </div>
            <div class="PRECIOCREATE">
                <label for="descripcion" >Agregue una breve descripcion</label>
                <textarea  name="description" id="descripcion"></textarea><p><%= locals.errores && errores.descripcion ? errores.descripcion.msg : null %> </p>
            </div>
            
            <div class="PRECIOCREATE">
                <label for="imagen" >Selecciona una imagen para el producto</label>
                <input type="file" name="image" id="imagen"  multiple></input><p><%= locals.errores && errores.images ? errores.images.msg : null %> </p>
            </div>
        
            <div class="PREC">
                <label for="precio" >Precio</label>
                <input type="text" name="price" placeholder="$" ><p><%= locals.errores && errores.price? errores.brand.msg : null %> </p>
            </div>
            <div class="botoncreate">
                <button type="reset">Borrar</button>
                <button type="submit">Crear</button>
            </div>
        </form>
    </main>
  </body>
</html>