<%- include("../partials/head.ejs")%>


<body>
    
  <%- include("../partials/header.ejs")%>

    <main>
        
        <section class="home__main__section">

            <% products.forEach(producto => { %>
            <article class="home__main__section-article">
                <img class="remove-bg" src= "/img/<%= producto.image %>" alt="Asus Zenbook pro duo">
                <div>
                    <a class="enlace__articulo__detalle" href="/products/productDetail/<%=producto.id %> ">
                    <p><%= producto.titulo %></p>
                    <h4>$<%= producto.price  %></h4>
                    <button><a href="/products/productCart">Agregar al carrito</a></button>
                    </a>
                </div>
        
            </article>
            <%}); %>
            
        </section>
</main>
    <%- include("../partials/footer.ejs")%>
    </body>
</html>