<%- include("../partials/head.ejs")%>

<body>

  <%- include("../partials/header.ejs")%>

  <main>

    <section class="Detail__main__principal">
      <article class="Detail__main__articulos">
        <img src="/img/products/<%= detalle.image %>" alt="Aquí va la foto4 1-thinkpad Yoga ">

        <div>
          <h5>Precio especial Notebook</h5>
          <h2><%= detalle.price %> </h2>
          <h5>Efectivo o Transferencia</h5>
        </div>
        <form action="/productCart">
          <button>Comprar</button>
        </form>
        
      </article>
      <article class="Detail__main__caracteristicas">
        <ul class="caracteristicas__titulo">
          <p>
            <%= detalle.description %> 
          </p>
         
        </ul>
      </article>
    </section>
    <section class="detail__main__recomendado">
      <div class="recomendado__titulo">
        <h3>Productos ralacionados con este articulo</h3>
        <h4>Página 1 de 3</h4>
      </div>

      <div style="display: flex; flex-direction: row; justify-content: space-around">
      <% productRandom.forEach(product => { %>
        <a href="/products/productDetail/<%=db.product.id %> ">
          <article style="border: black;">
          <img src="/img/products/<%=db.product.image %>" alt="<%=db.product.name %>">

          <p><%=db.product.name %></p>
          <p>$<%= db.product.price %></p>
        </article>
      </a>
        <%}); %>

        
        </div>

    </section>

  </main>
  <%- include("../partials/footer.ejs")%>

</body>

</html>